.clients {
  @extend %d-flex;
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.clients__item:not(:first-child) {
  margin-left: 30px;
  @media screen and (min-width: 480px) {
    margin-left: 0;
  }
}

@media screen and (min-width: 480px) {
  .clients__item {
    margin: 0 15px 30px 0;
  }
}
@media screen and (min-width: 480px) {
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    margin: 15px;
  }
}

.clients__link {
  @extend %d-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid $border-clients-color;
  border-radius: 4px;
  color: $border-clients-color;
  transition: border $transition-cubic, color $transition-cubic;
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

@media screen and (min-width: 480px) {
  .clients__link {
    min-width: 210px;
    min-height: 92px;
  }
}

.clients__icon {
  fill: currentColor;
}
