.clients {
  @extend %d-flex;
}

@media screen and (min-width: 320px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 320px) {
  .clients__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.clients__link {
  @extend %d-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border: 1px solid $border-clients-color;
  border-radius: 4px;
  color: $border-clients-color;
  transition: border $transition-cubic, color $transition-cubic;
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    min-width: 170px;
    min-height: 92px;
  }
}

.clients__icon {
  fill: currentColor;
}
