.contacts {
  @extend %d-flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
.contacts__link {
  font-style: normal;
  @include font(500, 14px, 1.14, 0.02em);
  color: $primary-shade-2-text-color;
  padding: 32px 0;
  transition: color $transition-cubic;
  @extend %d-flex;
}

.contacts__item {
  @extend %d-flex;
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link:hover,
.contacts__link:focus {
  color: $accent-color;
}

.contacts__icon {
  margin-right: 10px;
  & {
    fill: currentColor;
  }
}
