.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: baseline;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
