.footer {
  padding: 60px 0;
  background-color: $secondary-bgr-color;
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .footer__container--wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .footer__title {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .footer__subscribe {
    text-align: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    @extend %d-flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
