.header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
  }
}
.header__nav {
  margin-left: 93px;
}

.header--border {
  border: 1px solid $border-header-color;
}
