.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header--border {
  border: 1px solid $border-header-color;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}

@media screen and (min-width: 320px) {
  .header__container {
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #fff;
  }
}
