.main-section {
  text-align: center;
  @include font(900, 44px, 1.36, 0.06em);
  text-transform: uppercase;
  color: $secondary-text-color;
  background-color: $secondary-bgr-color;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
  width: 100%;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-mob-2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-desk-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-desk-2x.jpg);
    }
  }
}

.main-section__title {
  font-size: 44px;
  max-width: 696px;
  margin: 0 auto 30px;
}
@media screen and (min-width: 480px) {
  .main-section {
    width: 480px;
    padding: 118px 60px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .main-section__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    width: 768px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-section__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    width: 1200px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: 0 auto 30px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
