.logo {
  font-family: Raleway;
  font-style: normal;
  @include font(700, 26px, 1.19, 0.03em);
  color: $primary-text-color;
}

@media screen and (min-width: 480px) {
  .logo {
    margin-bottom: 0;
  }
}

.logo__web {
  color: $accent-color;
}

.logo--secondary {
  color: $secondary-text-color;
}
