.section {
  padding: 94px 0;
  @media screen and (min-width: 480px) {
    padding: 0;
  }
}

.section-title {
  font-style: normal;
  text-align: center;
  @include font(700, 36px, 1.17, 0.03em);
  color: $primary-shade-text-color;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .section-title {
    font-weight: 700;
    font-size: 28px;
  }
}
