.subscribe {
  @extend %d-flex;
  @media screen and (min-width: 480px) {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.subscribe__input {
  margin-right: 12px;
  border-radius: 4px;
  padding-left: 16px;
  color: $secondary-text-color;
  background-color: transparent;
  transition: border-color $transition-cubic;
  width: 358px;
  min-height: 50px;
  border: 1px solid rgba($border-footer-color, 0.3);
  @media screen and (min-width: 480px) {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    padding: 15px 16px;
  }
}
